.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 23, 34);
    color: white;
}

.home-content {
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0 4vw;
}

.social-container {
    display: flex;
    flex-direction: column;
    /* min-width: 30vw; */
}

.intro-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.social-icon {
    padding: 10px 10px 10px 10px;
    margin: 1.5vh 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border: solid 1px rgba(255, 255, 255, 0.66);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.66);
    /* min-width: 25vw; */
    /* background-color: aqua; */
}

.social-icon:hover {
    background-color: white !important;
    color: rgb(2, 23, 34) !important;
}

.intro {
    font-size: 3rem;
}

.name-row {
    font-size: 3rem;
    padding: 3vh 0;
}

.name {
    color: rgb(0, 208, 255);
    font-size: 3.3rem;
}

.intro-text {
    padding-bottom: 3vh;
    font-size: 2rem;
}

.logo {
    font-size: 4em;
    font-weight: 500;
    padding: 0 0 8vh 0;
}

.home-button {
    background-color: rgba(240, 248, 255, 0) !important;
    border: 1px rgba(255, 255, 255, 0.66) solid !important;
    color: rgba(255, 255, 255, 0.66) !important;
}

.home-button:focus {
    animation: shadow-pulse 1s .5;
    /* border-color: rgba(8, 251, 255, 0.829);
    color: rgba(8, 251, 255, 0.925); */
}

.home-button:hover {
    background-color: white !important;
    color: rgb(2, 23, 34) !important;
}

i.icon {
    margin: 0;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(8, 251, 255, 0.829);
    }

    50% {
        box-shadow: 0 0 0 20px rgba(10, 223, 238, 0.009);
        border-color: rgba(8, 251, 255, 0.591);
        color: rgba(8, 251, 255, 0.575);
    }

    100% {
        box-shadow: 0 0 0 25px rgba(10, 223, 238, 0.009);
        border-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
}

@media only screen and (max-width: 767px) {
    .home-content {
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
    }

    .intro-container {
        align-items: center;
    }

    .social-container {
        flex-direction: row;
        padding-top: 10vh;
    }

    .home-button {
        width: 25vw;
    }

    .social-icon {
        min-width: 25vw;
    }
}