.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 23, 34);
    background: url('../assets/pexels-shawn-stutzman-1010496.jpg');
    background-size: cover;
    color: white;
}

.home-content {
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
    background-color: rgba(5, 36, 72, 0.356);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.name {
    color: rgba(55, 166, 254, 1);
}

.home-intro-container {
    margin: 5vh 0;
}

.home-intro {
    font-size: 2em;
    line-height: initial;
}

.button-animation {
    /* text-decoration: none;
    transition: all .5s ease;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);
    padding-right: 0; */
    border: none;
    outline: none;
    color: white;
    /* background: #05304b; */
    /* background: rgba(5, 48, 75, 1); */
    /* background-color: white; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    /* border-radius: 10px; */
}

.button-animation:before {
    content: '';
    background: linear-gradient(45deg, #ffffff, #8ce8ff, #63ddfc, #8ce8ff, #ffffff, #8ce8ff, #00ccff, #bdeffc);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    background-color: white;
    /* border-radius: 10px; */
}

.button-animation:active {
    color: rgba(5, 48, 75, 1);
    background-color: white;
    /* color: rgb(254, 254, 254) */
}

.button-animation:active:after {
    /* background: transparent; */
    background: white;
}

.button-animation:hover:before {
    opacity: 1;
}

.button-animation:hover {
    background: white !important;
}

.button-animation:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(5, 48, 75, 1); */
    background: rgba(5, 48, 75, 1);
    left: 0;
    top: 0;
    /* border-radius: 10px; */
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.enter-button {
    width: 14em;
    padding: 10px;
    background: rgba(5, 48, 75, 1) !important;
    /* color: white; */
    cursor: pointer;
    border: none;
    border-radius: 0 !important;
    color: rgb(249, 249, 249) !important;
}

.enter-button:hover {
    background: white !important;
    color: rgba(55, 166, 254, 1) !important;
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%); */
}

/* .enter-button:after {
    content: 'About';
    display: inline-block;
    position: relative;
    right: -155px;
    transition: all 0.2s ease;
}

.enter-button:hover:after {
    margin: -1px 15px;
    right: 0px;
} */

.social-icons-container {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    background-image: url('../assets/v-logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 15em;
    width: 15em;
}

.social-block {
    background-color: rgba(5, 48, 75, 1);
    padding: 10px;
    /* margin: 10px; */
}

.social-block:hover .social-icon {
    background-color: white;
    color: rgba(55, 166, 254, 1);
}

.social-block:hover {
    background-color: white;
}

.social-icon {
    /* background-color: rgb(0, 157, 255); */
    color: #ffffff;
}

.social-icon:hover {
    /* box-shadow: 0 0 40px 2px #0099ec,
    0.5rem 0.5rem 30px #13092d; */
}

/* .polygon-button {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 85% 100%, 0 100%);
    clip-path: polygon(0, 100% 0, 100% 50%, 85% 100%, 0 100%);
} */


/* .social-icon:hover {
    color: aqua;
} */


/* @keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(8, 251, 255, 0.829);
    }

    50% {
        box-shadow: 0 0 0 20px rgba(10, 223, 238, 0.009);
        border-color: rgba(8, 251, 255, 0.591);
        color: rgba(8, 251, 255, 0.575);
    }

    100% {
        box-shadow: 0 0 0 25px rgba(10, 223, 238, 0.009);
        border-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
} */

@media only screen and (max-width: 767px) {
    .home-content {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }

    .social-icons-container {
        right: unset;
        bottom: 7vh;
        flex-direction: row;
    }
}