.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 23, 34);
    color: white;
}

.home-content {
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0 4vw;
}

.social-container {
    display: flex;
    flex-direction: column;
}

.intro-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}

.social-icon {
   padding: 10px 10px 10px 10px;
   margin: 3px 5px;
   display: inherit;
   justify-content: center;
   align-content: center;
   border: solid 1px white;
   border-radius: 5px;
   /* background-color: aqua; */
}

.intro {
    font-size: 2rem;
}

.name {
    font-size: 2.5rem;
}

.intro-text {
    
}

.logo {
    font-size: 4em;
    font-weight: 500;
}

@media only screen and (max-width: 767px) {
    .home-content {
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }

    .social-container {
        flex-direction: row;
    }
}