.portfolio-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 23, 34);
    color: white;
}

.grid {
    display: flex;
    width: 100vw;
}

.row {
    width: 100vw;
    height: 33vh;
}

.ui.grid>.row>.column {
    padding-left: 0;
    padding-right: 0;
}

.ui.grid>.row {
    padding: 0;
}

.block {
    background-color: rgb(49, 186, 196);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(30%);
    /* transition: transform 1s, filter 1s; */
}

.block:hover {
    filter: grayscale(0%);
    /* height: 37vh; */
    /* transform: scale(1.3, 1.3); */
    /* z-index: 27; */
}

.text {
    /* visibility: hidden; */
    /* display: none; */
}

.text:hover {
    color: rgb(35, 121, 121);
    /* visibility: visible; */
    display: block;
}

.top-left {
    background-image: url(../assets/denverHelps.png);
}

.top-center {
    background-image: url(../assets/agl.png);
}

.top-right {
    background-image: url(../assets/loanApp.png);
}

.middle-left {
    background-image: url(../assets/notesy.png);
}

.middle-center {
    background-color: rgb(2, 23, 34);
}

.middle-right {
    background-color: orange;
}

.bottom-left {
    background-color: rgb(97, 20, 20);
}

.bottom-center {
    background-color: darkcyan;
}

.bottom-right {
    background-color: rgb(16, 80, 36);
}

@media only screen and (max-width: 767px) {
    .ui.stackable.grid {
        width: 100vw;
    }

    .ui.stackable.grid>.row>.column {
        padding: 0 !important;
    }

    .row {
        height: 55vh;
    }

    .portfolio-container {
        height: auto;
    }

    .block {
        height: 20vh;
    }
}