.nav-icon-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    /* margin: 15px 15px 15px; */
    padding: 10px;
    
    /* background-color: rgb(2, 20, 41); */

    /* background-color: rgba(5, 48, 75, 1); */
    border-bottom: solid white 2px;
}

.nav-icon {
    /* align-self: flex-end; */
    /* padding: 15px 15px 0 0; */
    color: rgb(237, 237, 237);
}

.nav-logo {
    background-image: url('../assets/v-logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2em;
    width: 2em;
    /* margin: ; */
}
.ui.thin.right.sidebar {
    width: 40vw
}

.ui.inverted.menu {
    background-color: rgba(12, 24, 40, 0.514);
    /* background-color: rgb(12, 24, 40); */
}

.ui.visible.right.overlay.sidebar {
    padding-top: 55px !important;
}

/* Navbar buttons */
.ui.labeled.icon.menu .item:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.pushable:not(body)>.ui.sidebar {
    height: 100vh !important;
    position: fixed !important;
    right: 0 !important;
    bottom: 0 i !important;
    /* background-color: black; */
}

@media only screen and (max-width: 767px) {
    .ui.thin.right.sidebar {
        width: 98vw;
        margin-right: 1vw !important;
    }
}