.nav-icon-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    /* margin-bottom: -4vh; */
}

.nav-icon {
    align-self: flex-end;
    padding: 15px 15px 0 0;
    color: rgb(237, 237, 237);
}

.ui.thin.right.sidebar {
    width: 98vw;
    margin-right: 1vw !important;
}

.ui.inverted.menu {
    background-color: rgb(12, 24, 40);
}

/* .ui.right.overlay.sidebar {
    z-index: 100;
} */

/* .selector {
    font-size: 2em;
} */