.tech-container {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tech-button {
    text-align: center;
    width: fit-content;
    border-radius: 15px;
    padding: 3px 9px;
    margin-right: 5px;
    margin-bottom: 5px;
}