.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(2, 23, 34);
  height: 100vh;
  font-family: 'Spartan', sans-serif;
  color: white;
}

.ui.segment {
  padding: 0;
  border: none;
  margin: 0;
}

.primary {
  background-color: rgb(5, 94, 167) !important;
}

.background-main {
  background-color: rgb(0, 16, 31) !important;
}