.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(2, 23, 34);
  height: fit-content;
  font-family: 'Spartan', sans-serif;
  color: white;
  background: url('./assets/background.jpeg');
  width: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}

.width-full {
  width: 100vw;
}

.ui.segment {
  padding: 0;
  border: none;
  margin: 0;
}

.primary {
  background-color: rgb(5, 94, 167) !important;
}

.spacer5 {
  margin: 5vh 0;
}

.spacer20 {
  margin: 20vh 0;
}

.spacer20bottom {
  margin: 0 0 20vh 0;
}

.background-main {
  background-color: rgb(0, 16, 31) !important;
}

@media only screen and (max-width: 767px) {
  .spacer5 {
    margin: 2.5vh;
  }

  .spacer20 {
    margin: 10vh 0;
  }

  .spacer20bottom {
    margin-bottom: 10vh;
  }
}